body{
    background-color: #F2F2F2;
    
}
main{
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 20px;
}
header{
    background-color: rgb(7, 180, 7);
    display: flex;
    color: white;
    font-weight: 200;
    font-family: sans-serif;
}
.cara{
    border-radius: 15px;
    width: 200px;
}

.divchica{
    padding-left: 20px;
}
.art1{
    display: flex;
    align-items: center;
}
.art22{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.art22 div{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    width:  320px;

}
.art22 div label{
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: rgb(218, 73, 73);
}

.nav1{
    font-size: 30px;
}
.navblanco{
    background-color: white;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
    color: red;
}
.art2 div img{
    padding-left: 5PX;
    padding-right: 5px;
}
table{
    border: 0.5px solid rgba(0, 0, 0, 0.404);
    border-collapse: collapse;
}
tr, td{
    border: 0.5px solid rgba(0, 0, 0, 0.37);
}
.art3{
    display: flex;
    align-items: center;
}
hr{
    width: 1000px;
    color: red;
}
td{
   width: 500px;
   background-color: white;
}
a{
    color: white;
    
}
.tdlink{
    background-color: red;
}
.td1{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}
.imgest{
    width: 40px;
    padding: 10px;
}
.tdsame{
    display: flex;
    flex-direction: column;
}
.labelcolor{
    color: rgb(196, 61, 61);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.sec4{
    display: flex;
    justify-content: space-between;

}
.sec4 div{
    background-color: white;

}
.rewidth{
    width: 410px;
    padding: 10px;
}
.divflex{
    display: flex;
    flex-direction: column;
}
.espec{
    display: flex;
    align-items: center;
    padding: 10px;
}
.sec5{
    display: flex;
    justify-content: left;
    padding-top: 20px;

}
.sec5 div{
    background-color: white;
    margin-right: 30px;

}
.num1{
    padding-right: 800px;
}
.heady{
    align-items: center;
}
.heady2{
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.veuremes{
    padding-top: 50px;
    font-size: 16px;
    display: flex;
}

.veuremes div{
    color: white;
    background-color: rgb(212, 54, 54);
    padding-left: 10px;
    padding-right: 10px;
}
a:hover {
    color: rgb(255, 0, 0);
  }